
form,
.header {
    width: 900px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dotted blue;
}
input{
    width: 75px;
    height: 20px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    border: 2px solid blue;
}
button {
    width: 175px;
    height: 40px;
    border-radius: 3px;
    display: relative;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    border: 2px solid blue;
}

label {
    padding: 10px;
}

video {
    width: 600px;
    height: 400px;
    margin-top: 10px;
}

input:focus{
    outline: none;
    border: 3px dotted orange;
}

.options {
    width:40%;
    height:25px;
    display: flex;
    top: 2px;
    margin-bottom: 20px;
}

.options-escalar{
    margin-left: 75px;
}

.options-bitrate{
    margin-left: 90px;
}

.options-velocitat{
    margin-left: 130px;
}
