input{
    width: 75px;
    height: 20px;
    border-radius: 3px;
    text-align: center;
    border: 2px solid blue;
}
a,button{
    width: 175px;
    height: 40px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px solid blue;
}

label {
    padding: 10px;
}
div.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
div.filtres{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

video {
    width: 800px;
    height: 600px;
    margin-top: 10px;
}

table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: deepskyblue;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
