body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form,
.header {
    width: 900px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dotted blue;
}
input{
    width: 175px;
    height: 30px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    border: 2px solid blue;
}
button {
    width: 50%;
    margin-top: 20px;
    height: 40px;
    border-radius: 3px;
    display: flex;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    border: 2px solid blue;
}



label {
    padding: 10px;
}
.header {
    flex-direction: row;
    display: none;
}

figure h2 {
    font-size: 18px;
    font-weight: bold;
    color: blue;
    margin: 0;
}

figure {
    margin-inline-start: 10px;
    margin-inline-end: 0px;
    margin-top: 10px;
    color: blue;
}

video {
    width: 600px;
    height: 400px;
    margin-top: 10px;
}

input:focus{
    outline: none;
    border: 3px dotted orange;
}
