body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form,
.header {
    width: 900px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dotted blue;
}
input,
button {
    width: 175px;
    height: 30px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    border: 2px solid blue;
}

input[type="file"]{
    border: none;
}

button {
    background-color: blue;
    color: white;
    box-sizing: content-box;
    margin-top: 15px;
    cursor: pointer;
}
label {
    padding: 10px;
}
.header {
    flex-direction: row;
    display: none;
}

figure h2 {
    font-size: 18px;
    font-weight: bold;
    color: blue;
    margin: 0;
}

figure {
    margin-inline-start: 10px;
    margin-inline-end: 0px;
    margin-top: 10px;
    color: blue;
}

video {
    width: 800px;
    height: 600px;
    margin-top: 10px;
}

input:focus{
    outline: none;
    border: 3px dotted orange;
}
